Repository Yonava/magic-graphs, pull requests merged in 2024-11, with the labels that each got.

#67 Full Magic Shapes Refactor (Breaking API Changes)
  src/ShapePlayground.vue
  src/shapes/arrow/draw.ts
  src/shapes/arrow/hitbox.ts
  src/shapes/arrow/index.ts
  src/shapes/arrow/text.ts
  src/shapes/circle/draw.ts
  src/shapes/circle/hitbox.ts
  src/shapes/circle/index.ts
  src/shapes/draw.ts
  src/shapes/draw/arrow.ts
  src/shapes/draw/line.ts
  src/shapes/draw/text.ts
  src/shapes/draw/uturn.ts
  src/shapes/helpers.ts
  src/shapes/hitboxes.ts
  src/shapes/index.ts
  src/shapes/line/draw.ts
  src/shapes/line/hitbox.ts
  src/shapes/line/index.ts
  src/shapes/line/text.ts
  src/shapes/rect/draw.ts
  src/shapes/rect/hitbox.ts
  src/shapes/rect/index.ts
  src/shapes/square/draw.ts
  src/shapes/square/hitbox.ts
  src/shapes/square/index.ts
  src/shapes/text.ts
  src/shapes/triangle/draw.ts
  src/shapes/triangle/hitbox.ts
  src/shapes/triangle/index.ts
  src/shapes/types.ts
  src/shapes/uturn/draw.ts
  src/shapes/uturn/hitbox.ts
  src/shapes/uturn/index.ts
  src/shapes/uturn/text.ts
  src/utils/components/ResponsiveCanvas.vue
  tsconfig.app.json
  vite.config.ts
Labels: code cleanup, magic-shapes

#92 Rect border radius
  client/src/App.vue
  client/src/playground/shape/ShapePlayground.vue
  client/src/shapes/rect/draw.ts
  client/src/shapes/rect/hitbox.ts
  client/src/shapes/rect/index.ts
  client/src/shapes/square/hitbox.ts
  client/src/shapes/square/index.ts
Labels: enhancement, magic-shapes

#97 Rotate rectangles
  client/src/App.vue
  client/src/playground/shape/ShapePlayground.vue
  client/src/shapes/cross/draw.ts
  client/src/shapes/cross/hitbox.ts
  client/src/shapes/cross/index.ts
  client/src/shapes/rect/draw.ts
  client/src/shapes/rect/hitbox.ts
  client/src/shapes/rect/index.ts
  client/src/shapes/square/hitbox.ts
  client/src/shapes/square/index.ts
Labels: enhancement, magic-shapes

#98 Rename variables for consitency
  client/src/App.vue
  client/src/graphs/schematics/edge.ts
  client/src/playground/shape/ShapePlayground.vue
  client/src/shapes/cross/draw.ts
  client/src/shapes/cross/hitbox.ts
  client/src/shapes/cross/index.ts
  client/src/shapes/uturn/draw.ts
  client/src/shapes/uturn/hitbox.ts
  client/src/shapes/uturn/index.ts
  client/src/shapes/uturn/text.ts
Labels: code cleanup, magic-shapes

#102 Update text to text area
  client/src/graphs/compositions/useFocusGraph.ts
  client/src/graphs/schematics/node.ts
  client/src/playground/shape/ShapePlayground.vue
  client/src/shapes/circle/draw.ts
  client/src/shapes/circle/index.ts
  client/src/shapes/circle/text.ts
  client/src/shapes/rect/draw.ts
  client/src/shapes/rect/index.ts
  client/src/shapes/rect/text.ts
  client/src/shapes/square/index.ts
  client/src/shapes/square/text.ts
  client/src/shapes/text.ts
Labels: enhancement, magic-shapes

#125 move progress bar
  client/src/products/min-spanning-tree/Main.vue
  client/src/ui/sim/Progressbar.vue
  client/src/ui/sim/types.ts
Labels: code cleanup

#127 Dashed border to shapes with stroke
  client/src/playground/shape/ShapePlayground.vue
  client/src/products/min-spanning-tree/progressbar/types.ts
  client/src/shapes/circle/draw.ts
  client/src/shapes/rect/draw.ts
  client/src/shapes/types.ts
  server/src/clientTypes.ts
Labels: enhancement, magic-shapes

#133 Update line efficient hitbox
  client/src/playground/shape/Toolbar.vue
  client/src/playground/shape/useHeatmap.ts
  client/src/shapes/line/hitbox.ts
Labels: enhancement, magic-shapes

#137 Manipulate progressbar
  client/src/products/min-spanning-tree/Main.vue
  client/src/ui/sim/Progressbar.vue
  client/src/ui/sim/types.ts
Labels: enhancement, magic-ui

#143 Add get bounding box to shapes
  client/src/playground/shape/ShapePlayground.vue
  client/src/shapes/arrow/hitbox.ts
  client/src/shapes/arrow/index.ts
  client/src/shapes/circle/hitbox.ts
  client/src/shapes/circle/index.ts
  client/src/shapes/cross/hitbox.ts
  client/src/shapes/cross/index.ts
  client/src/shapes/line/hitbox.ts
  client/src/shapes/line/index.ts
  client/src/shapes/rect/hitbox.ts
  client/src/shapes/rect/index.ts
  client/src/shapes/square/hitbox.ts
  client/src/shapes/square/index.ts
  client/src/shapes/triangle/hitbox.ts
  client/src/shapes/triangle/index.ts
  client/src/shapes/types.ts
  client/src/shapes/uturn/hitbox.ts
  client/src/shapes/uturn/index.ts
Labels: enhancement, magic-shapes

#165 Add stroke and label to triangle
  client/src/playground/shape/ShapePlayground.vue
  client/src/shapes/line/hitbox.ts
  client/src/shapes/rect/hitbox.ts
  client/src/shapes/square/hitbox.ts
  client/src/shapes/triangle/draw.ts
  client/src/shapes/triangle/hitbox.ts
  client/src/shapes/triangle/index.ts
  client/src/shapes/triangle/text.ts
Labels: bug, enhancement, magic-shapes

#166 implement text vertical offset
  client/src/playground/shape/ShapePlayground.vue
  client/src/shapes/circle/text.ts
  client/src/shapes/text.ts
Labels: bug, magic-shapes

#167 Add text box width
  client/src/playground/shape/ShapePlayground.vue
  client/src/shapes/rect/text.ts
  client/src/shapes/text.ts
Labels: bug, magic-shapes

#175 Fix annotation ux
  client/src/graphs/compositions/useAnnotationGraph/index.ts
  client/src/graphs/compositions/useAnnotationGraph/types.ts
  client/src/products/graph-sandbox/AnnotationControls.vue
  client/src/shapes/scribble/draw.ts
Labels: bug, enhancement, product

#178 Shape improvements
  client/src/graphs/compositions/useAnnotationGraph/index.ts
  client/src/shapes/arrow/index.ts
  client/src/shapes/circle/index.ts
  client/src/shapes/cross/index.ts
  client/src/shapes/line/index.ts
  client/src/shapes/rect/index.ts
  client/src/shapes/scribble/index.ts
  client/src/shapes/square/index.ts
  client/src/shapes/triangle/index.ts
  client/src/shapes/uturn/index.ts
Labels: bug, enhancement, magic-shapes

#183 Bug(shapes) clean up shape code
  client/src/shapes/arrow/draw.ts
  client/src/shapes/cross/index.ts
  client/src/shapes/uturn/draw.ts
Labels: bug, magic-shapes

#195 feat(animate): Point interpolation
  client/src/utils/animate.ts
Labels: enhancement, magic-shapes

#196 chore(animations): add animation tests
  client/src/utils/animate.test.ts
  client/src/utils/animate.ts
Labels: code cleanup, util

#200 fix(textArea): Update text area to scale with canvas zoom in/out
  client/src/graphs/compositions/useFocusGraph/index.ts
  client/src/playground/shape/Toolbar.vue
  client/src/shapes/arrow/index.ts
  client/src/shapes/circle/index.ts
  client/src/shapes/line/index.ts
  client/src/shapes/rect/index.ts
  client/src/shapes/square/index.ts
  client/src/shapes/text.ts
  client/src/shapes/textarea.ts
  client/src/shapes/types.ts
  client/src/shapes/uturn/index.ts
Labels: bug, enhancement

#201 fix(magic-shapes): scribble efficient hitbox on very small hitboxes
  client/src/shapes/scribble/hitbox.ts
Labels: bug, magic-shapes

#202 refactor(product): all simulation control instances now belong to runners
  client/src/products/dijkstras/CostDisplay.vue
  client/src/products/dijkstras/Main.vue
  client/src/products/dijkstras/info.ts
  client/src/products/dijkstras/useDijkstra.ts
  client/src/products/dijkstras/useSimulation.ts
  client/src/products/dijkstras/useSimulationRunner.ts
  client/src/products/dijkstras/useSimulationTheme.ts
  client/src/products/graph-sandbox/AnnotationControls.vue
  client/src/products/graph-sandbox/IslandMarkup.vue
  client/src/products/graph-sandbox/IslandToolbar.vue
  client/src/products/graph-sandbox/Main.vue
  client/src/products/graph-sandbox/MarkupMenu/NodeEdgeColorInput.vue
  client/src/products/graph-sandbox/MarkupMenu/NodeEdgeSizeInput.vue
  client/src/products/graph-sandbox/SelectSimulation.vue
  client/src/products/graph-sandbox/SimulationDropdown.vue
  client/src/products/graph-sandbox/Toolbar.vue
  client/src/products/graph-sandbox/useMarkupColorizer.ts
  client/src/products/min-spanning-tree/Main.vue
  client/src/products/min-spanning-tree/SimulationControls.vue
  client/src/products/min-spanning-tree/info.ts
  client/src/products/min-spanning-tree/useKruskal.ts
  client/src/products/min-spanning-tree/usePrim.ts
  client/src/products/min-spanning-tree/useSimulation.ts
  client/src/products/min-spanning-tree/useSimulationRunner.ts
  client/src/products/min-spanning-tree/useSimulationTheme.ts
  client/src/products/network-flow/useFlowSimulation.ts
  client/src/types.ts
  client/src/ui/InputColor.vue
  client/src/ui/product/GraphProduct.vue
  client/src/ui/product/StartSimButton.vue
  client/src/ui/product/StopSimButton.vue
  client/src/ui/product/sim/PlaybackButton.vue
  client/src/ui/product/sim/Progressbar.vue
  client/src/ui/product/sim/SimulationPlaybackControls.vue
  client/src/ui/product/sim/progressTypes.ts
  client/src/ui/product/sim/types.ts
  client/src/ui/product/sim/useSimulationControls.ts
  client/src/utils/product.ts
Labels: documentation, enhancement, code cleanup

#203 feat(magic-graphs): Add transition matrix
  client/src/graphs/useTransitionMatrix.ts
  client/src/products/graph-sandbox/GraphInfoMenu.vue
  client/src/products/graph-sandbox/TransitionMatrixDisplay.vue
Labels: enhancement, magic-graphs

#205 feat(Products): Progress bar preview
  client/src/products/graph-sandbox/GraphInfoMenu.vue
  client/src/products/graph-sandbox/TransitionMatrixDisplay.vue
  client/src/products/network-flow/Main.vue
  client/src/ui/product/sim/Progressbar.vue
  client/src/ui/product/sim/SimulationPlaybackControls.vue
Labels: enhancement, product, magic-ui

#207 feat(magic-graph): weighted graph adjacency
  client/src/graphs/global.ts
  client/src/graphs/helpers.ts
  client/src/graphs/schematics/edge.ts
  client/src/graphs/useAdjacencyList.ts
  client/src/products/dijkstras/useSimulationTheme.ts
  client/src/products/graph-sandbox/AdjacencyListDisplay.vue
  client/src/products/graph-sandbox/GraphInfoMenu.vue
  client/src/products/min-spanning-tree/TopRightToolbar.vue
  client/src/products/min-spanning-tree/useSimulationRunner.ts
  client/src/products/min-spanning-tree/useSimulationTheme.ts
  client/src/products/network-flow/Main.vue
  client/src/products/network-flow/info.ts
  client/src/products/network-flow/useFlowSimulation.ts
  client/src/products/network-flow/useFordFulkerson.ts
  client/src/products/network-flow/useResidualEdges.ts
  client/src/products/network-flow/useSimulationRunner.ts
  client/src/products/network-flow/useSimulationTheme.ts
  client/src/products/network-flow/useSourceSinkControls.ts
  client/src/ui/product/sim/SimulationPlaybackControls.vue
  client/src/ui/product/sim/types.ts
  client/src/ui/product/sim/useSimulationControls.ts
  client/src/utils/productBoot.ts
Labels: magic-graphs

#210 fix(graphInfo): fix transition matrix
  client/src/graphs/useTransitionMatrix.ts
  client/src/products/graph-sandbox/GraphInfoMenu.vue
  client/src/products/graph-sandbox/TransitionMatrixDisplay.vue
Labels: bug, magic-graphs

#211 style(progress bar): update progress bar preview color to be more visible when hovering ahead of the current progress
  client/src/ui/product/sim/Progressbar.vue
Labels: product, magic-ui
