Repository Yonava/magic-graphs, pull requests merged in 2024-12, with the labels that each got.

#215 bug(magic-shapes): Patch arrow text display on fat arrows
  client/src/shapes/arrow/text.ts
  client/src/shapes/line/index.ts
Labels: bug, magic-shapes

#219 feat(product): added functionality for users to edit graph in while in sim playback
  client/src/graphs/compositions/useFocusGraph/constants.ts
  client/src/graphs/compositions/useFocusGraph/index.ts
  client/src/graphs/compositions/useMarqueeGraph/index.ts
  client/src/graphs/compositions/usePersistentGraph/index.ts
  client/src/graphs/events/types.ts
  client/src/graphs/useAdjacencyList.ts
  client/src/graphs/useTransitionMatrix.ts
  client/src/products/dijkstras/algo/useDijkstra.ts
  client/src/products/graph-sandbox/ui/GraphInfoMenu.vue
  client/src/products/min-spanning-tree/algo/useKruskal.ts
  client/src/products/min-spanning-tree/algo/usePrim.ts
  client/src/products/network-flow/algo/useFordFulkerson.ts
  client/src/products/network-flow/sim/runner.ts
  client/src/ui/product/sim/SimulationPlaybackControls.vue
  client/src/ui/product/sim/useSimulationControls.ts
  server/dist/public/assets/404-CWn20kQT.js
  server/dist/public/assets/Button.vue_vue_type_script_setup_true_lang-BqIn5GQy.js
  server/dist/public/assets/Graph.vue_vue_type_script_setup_true_lang-CDlvTZTi.js
  server/dist/public/assets/GraphPlayground-Y4ARna_u.js
  server/dist/public/assets/GraphProduct.vue_vue_type_script_setup_true_lang-tt5gevk1.js
  server/dist/public/assets/InputRange.vue_vue_type_script_setup_true_lang-Bib28d-S.js
  server/dist/public/assets/Main-BRLtguvk.js
  server/dist/public/assets/Main-ByEUZXlw.js
  server/dist/public/assets/Main-DZhtWcaD.js
  server/dist/public/assets/Main-DmKtMWGX.js
  server/dist/public/assets/Main-F-M0LgLw.js
  server/dist/public/assets/Main-G-P5yBIL.js
  server/dist/public/assets/ResponsiveCanvas.vue_vue_type_script_setup_true_lang-k-PFhbuS.js
  server/dist/public/assets/ShapePlayground-BG3jPDC6.js
  server/dist/public/assets/TutorialHint.vue_vue_type_script_setup_true_lang-CHwr5l46.js
  server/dist/public/assets/index-D54qcSWh.js
  server/dist/public/assets/useGraphTutorial-YPZYqC2Q.js
  server/dist/public/index.html
Labels: enhancement, product

#212 feat(magic-graphs): add persistent blacklist
  client/src/graphs/compositions/usePersistentGraph/index.ts
  client/src/graphs/settings/index.ts
Labels: enhancement, magic-graphs

#224 feat(products): add fullscreen
  client/src/shapes/line/index.ts
  client/src/ui/product/GraphProduct.vue
Labels: enhancement, product

#227 feat(magic-graphs): add alternate key binding combinations
  client/src/graphs/compositions/useUserEditableGraph/index.ts
Labels: enhancement, magic graphs

#229 feat(magic-graphs): add tooltips to transition matrix
  client/src/products/graph-sandbox/ui/GraphInfoMenu.vue
  client/src/products/graph-sandbox/ui/TransitionMatrixDisplay.vue
Labels: enhancement, magic graphs

#233 chore(linting): add linting rules for ts and vue
  client/eslint.config.js
  client/package-lock.json
  client/package.json
Labels: code cleanup

#234 fix(magic-shapes): move arrow text to its own renderer
  client/src/graphs/schematics/edge.ts
  client/src/shapes/arrow/text.ts
  client/src/shapes/line/text.ts
Labels: bug, code cleanup, magic shapes

#237 refactor(magic-shapes): use getTextLocationOnLine function to get text location on arrow
  client/package-lock.json
  client/src/products/graph-sandbox/ui/TransitionMatrixDisplay.vue
  client/src/shapes/arrow/draw.ts
  client/src/shapes/arrow/text.ts
  client/src/shapes/helpers.ts
Labels: code cleanup, magic shapes

#238 feat(magic-graphs): add unweighted transition matrix
  client/index.html
  client/src/graphs/useTransitionMatrix.ts
  client/src/products/graph-sandbox/ui/GraphInfoMenu/AdjacencyList.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/AdjacencyListDisplay.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/GraphInfoMenu.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/TransitionMatrix.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/TransitionMatrixDisplay.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/TransitionMatrixLabel.vue
  client/src/products/graph-sandbox/ui/IslandToolbar.vue
Labels: bug, enhancement, code cleanup

#241 feat(product): added preferred theme toolbar
  client/src/graphs/themes/useGraphColors.ts
  client/src/graphs/themes/usePreferredTheme.ts
  client/src/graphs/themes/useUserPreferredTheme.ts
  client/src/graphs/useGraph.ts
  client/src/playground/graph/ThemeControls.vue
  client/src/products/graph-sandbox/theme/useMarkupColorizer.ts
  client/src/products/graph-sandbox/ui/CollaborativeSessionMenu.vue
  client/src/ui/core/button/RadioButton.vue
  client/src/ui/core/button/VerticalCardButton.vue
  client/src/ui/core/input/InputText.vue
  client/src/ui/core/toolbar/ToolbarButton.vue
  client/src/ui/graph/GWell.vue
  client/src/ui/graph/GWellTheme.ts
  client/src/ui/graph/button/GButton.vue
  client/src/ui/graph/button/GButtonTheme.ts
  client/src/ui/graph/button/GRadioButton.vue
  client/src/ui/graph/button/GRadioButtonTheme.ts
  client/src/ui/graph/button/GVerticalCardButton.vue
  client/src/ui/graph/input/GInputText.vue
  client/src/ui/graph/toolbar/GToolbarBase.vue
  client/src/ui/graph/toolbar/GToolbarBaseTheme.ts
  client/src/ui/graph/toolbar/GToolbarButton.vue
  client/src/ui/graph/toolbar/GToolbarButtonTheme.ts
  client/src/ui/graph/toolbar/GToolbarDivider.vue
  client/src/ui/graph/toolbar/GToolbarDividerTheme.ts
  client/src/ui/graph/toolbar/GToolbarHint.vue
  client/src/ui/graph/toolbar/GToolbarHintTheme.ts
  client/src/ui/product/FullscreenButton.vue
  client/src/ui/product/GraphProduct.vue
  client/src/ui/product/ThemeToolbar.vue
  client/src/ui/product/dropdown/ProductDropdown.vue
  client/src/ui/product/dropdown/ProductDropdownButton.vue
  client/src/ui/product/dropdown/ProductDropdownItem.vue
  client/src/ui/product/dropdown/ProductDropdownMenu.vue
  client/src/ui/product/sim/SelectSimulation.vue
  client/tailwind.config.js
Labels: enhancement, magic graphs, product, magic ui

#240 fix(magic-graphs): update weightedAdjacencyList to allow unweighted if edge labels off
  client/src/graphs/helpers/index.ts
  client/src/graphs/useTransitionMatrix.ts
  client/src/products/graph-sandbox/ui/GraphInfoMenu/TransitionMatrixDisplay.vue
Labels: bug, magic graphs

#243 refactor(magic-graphs): clean up transition matrix display
  client/src/products/graph-sandbox/ui/GraphInfoMenu/AdjacencyListDisplay.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/TransitionMatrix.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/TransitionMatrixDisplay.vue
Labels: code cleanup, magic graphs

#246 fix(magic-graphs): edge text did not deselect when clicked off
  client/src/shapes/textarea.ts
Labels: bug, magic graphs

#247 feat(magic-graphs): created characteristics plugin for reactive graph characteristics
  client/src/graphs/Graph.vue
  client/src/graphs/plugins/characteristics/index.ts
  client/src/graphs/plugins/characteristics/useConnected.ts
  client/src/graphs/useAdjacencyList.ts
  client/src/graphs/useGraph.ts
  client/src/graphs/useTransitionMatrix.ts
  client/src/playground/graph/GraphPlayground.vue
  client/src/products/dijkstras/info.ts
  client/src/products/dijkstras/sim/guard.ts
  client/src/products/graph-sandbox/ui/GraphInfoMenu/ConnectedInfo.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/ConnectedInfoBox.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/GraphInfoMenu.vue
  client/src/products/min-spanning-tree/info.ts
  client/src/products/min-spanning-tree/sim/guard.ts
  client/src/products/network-flow/info.ts
  client/src/products/network-flow/sim/guard.ts
  client/src/ui/core/Icon.vue
  client/src/ui/core/button/VerticalCardButton.vue
  client/src/ui/product/sim/SelectSimulation.vue
  client/src/ui/product/sim/cannotRunReasons.ts
Labels: enhancement, magic graphs, product

#248 feat(magic-shapes): add color interpolation
  client/index.html
  client/src/utils/animate.ts
Labels: enhancement, magic shapes

#252 feat(product): menu categories for organization/navigation
  client/src/playground/graph/info.ts
  client/src/playground/shape/info.ts
  client/src/products/dijkstras/info.ts
  client/src/products/graph-sandbox/info.ts
  client/src/products/markov-chains/info.ts
  client/src/products/min-spanning-tree/info.ts
  client/src/products/network-flow/info.ts
  client/src/products/search-visualizer/info.ts
  client/src/products/set-visualizer/info.ts
  client/src/types.ts
  client/src/ui/product/dropdown/ProductDropdownMenu.vue
  client/src/utils/product.ts
Labels: product

#255 refactor(product): dijkstras trace rewritten for clarity and accuracy
  client/src/graphs/useTransitionMatrix.ts
  client/src/products/dijkstras/algo/dijkstra.ts
  client/src/products/dijkstras/algo/useDijkstra.ts
  client/src/products/dijkstras/sim/runner.ts
  client/src/products/dijkstras/sim/theme.ts
  client/src/products/dijkstras/ui/CostDisplay.vue
  client/src/ui/product/sim/SimulationPlaybackControls.vue
  client/src/ui/product/sim/types.ts
  client/src/ui/product/sim/useSimulationControls.ts
Labels: product

#258 fix(magic-shapes): remove event listeners when text disengaged
  client/src/shapes/textarea.ts
Labels: bug, magic shapes

#262 feat(product): jump with graphs to different products from menu
  client/index.html
  client/public/icons/arrow_right_alt.svg
  client/public/icons/step.svg
  client/public/icons/step_over.svg
  client/src/graphs/global.ts
  client/src/graphs/plugins/marquee/index.ts
  client/src/graphs/useGraphProduct.ts
  client/src/ui/product/dropdown/ProductDropdownMenu.vue
  client/src/ui/product/dropdown/ProductItem.vue
Labels: product

#267 feat(product): tree shapers for graph in sandbox
  client/src/products/graph-sandbox/ui/IslandToolbar.vue
  client/src/products/graph-sandbox/ui/useTreeShaper.ts
  client/src/products/search-visualizer/useBFSColorizer.ts
  client/src/products/search-visualizer/useBFSLevels.ts
  client/src/products/search-visualizer/useNodeDepth.ts
Labels: product

#269 fix(magic-ui): move progress bar to graph colors
  client/src/ui/product/sim/Progressbar.vue
  client/src/ui/product/sim/SimulationPlaybackControls.vue
  client/src/ui/product/sim/progressTypes.ts
Labels: bug, magic ui

#272 feat(magic-graphs): add sim playback speed controls
  client/src/ui/core/button/Button.vue
  client/src/ui/graph/select/GSpreadSelect.vue
  client/src/ui/product/sim/SimulationPlaybackControls.vue
  client/src/ui/product/sim/types.ts
  client/src/ui/product/sim/useSimulationControls.ts
Labels: enhancement, product

#283 fix(magic-graphs): fix rapid mouse dragging node anchor color
  client/index.html
  client/src/graphs/plugins/anchors/index.ts
  client/src/graphs/plugins/interactive/index.ts
Labels: bug, magic graphs

#288 fix(magic-graphs): node anchors appear when marquee selecting
  client/src/graphs/plugins/marquee/index.ts
Labels: bug, magic graphs

#290 fix(magic-graphs): move eraser color to graph colors
  client/src/graphs/plugins/annotations/index.ts
Labels: bug, magic graphs

#293 fix(magic-graphs): pressing `F` in name input no longer launches fullscreen
  client/src/ui/core/input/InputText.vue
Labels: bug, magic graphs

#286 feat(magic-graphs): add marquee selection event bus
  client/src/graphs/events/index.ts
  client/src/graphs/events/types.ts
  client/src/graphs/plugins/anchors/index.ts
  client/src/graphs/plugins/marquee/index.ts
Labels: enhancement, magic graphs

#298 feat(magic-graphs): add basic templates
  client/public/products/template-thumbnails/dijkstra.png
  client/public/products/template-thumbnails/mst.png
  client/src/graphs/templates/helpers.ts
  client/src/graphs/templates/snapshot.ts
  client/src/graphs/templates/templates.test.ts
  client/src/graphs/templates/types.ts
  client/src/graphs/templates/ui/TemplateItem.vue
  client/src/graphs/templates/ui/TemplateMenu.vue
  client/src/graphs/templates/useGraphTemplate.ts
  client/src/products/dijkstras/info.ts
  client/src/products/dijkstras/templates.ts
  client/src/products/graph-sandbox/ui/IslandToolbar.vue
  client/src/products/min-spanning-tree/info.ts
  client/src/products/min-spanning-tree/templates.ts
  client/src/types.ts
Labels: enhancement, magic graphs

#303 feat(magic-graphs): templates get unshifted instead of pushed
  client/src/graphs/templates/useGraphTemplate.ts
Labels: enhancement, magic graphs

#304 feat(product): add persistent sim speed
  client/src/ui/product/sim/SimulationPlaybackControls.vue
  client/src/ui/product/sim/useSimulationControls.ts
Labels: enhancement, product

#307 feat(product): unified APIs for product <-> graph state management
  client/src/graphs/global.ts
  client/src/graphs/plugins/annotations/index.ts
  client/src/graphs/themes/useGraphColors.ts
  client/src/graphs/useNodeState.ts
  client/src/products/basic-search/algo/useBFS.ts
  client/src/products/basic-search/algo/useDFS.ts
  client/src/products/basic-search/sim/runner.ts
  client/src/products/basic-search/sim/theme.ts
  client/src/products/basic-search/state.ts
  client/src/products/dijkstras/algo/useDijkstra.ts
  client/src/products/dijkstras/sim/runner.ts
  client/src/products/dijkstras/state.ts
  client/src/products/dijkstras/ui/CostDisplay.vue
  client/src/products/graph-sandbox/ui/AnnotationToolbar.vue
  client/src/products/graph-sandbox/ui/CollaborativeSessionMenu.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/AdjacencyListDisplay.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/ConnectedInfo.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/GraphInfoMenu.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/TransitionMatrix.vue
  client/src/products/graph-sandbox/ui/GraphInfoMenu/TransitionMatrixDisplay.vue
  client/src/products/graph-sandbox/ui/IslandToolbar.vue
  client/src/products/graph-sandbox/ui/TreeShapeMenu.vue
  client/src/products/markov-chains/sim/runner.ts
  client/src/products/markov-chains/state.ts
  client/src/products/markov-chains/ui/MarkovChainInfo.vue
  client/src/products/markov-chains/ui/MarkovChainInfoLabels.vue
  client/src/products/min-spanning-tree/sim/runner.ts
  client/src/products/network-flow/algo/useFordFulkerson.ts
  client/src/products/network-flow/sim/runner.ts
  client/src/products/network-flow/state.ts
  client/src/products/network-flow/theme/useSourceSinkTheme.ts
  client/src/products/network-flow/ui/FordFulkersonOutput.vue
  client/src/products/network-flow/ui/SourceSinkControls.vue
  client/src/ui/core/button/VerticalCardButton.vue
  client/src/ui/graph/GNode.vue
  client/src/ui/graph/GWell.vue
  client/src/ui/graph/button/GButton.vue
  client/src/ui/graph/button/GRadioButton.vue
  client/src/ui/graph/button/GVerticalCardButton.vue
  client/src/ui/graph/toolbar/GToolbarBase.vue
  client/src/ui/graph/toolbar/GToolbarButton.vue
  client/src/ui/graph/toolbar/GToolbarDivider.vue
  client/src/ui/graph/toolbar/GToolbarHint.vue
  client/src/ui/product/FullscreenButton.vue
  client/src/ui/product/ThemeToolbar.vue
  client/src/ui/product/dropdown/ProductDropdown.vue
  client/src/ui/product/dropdown/ProductItem.vue
  client/src/ui/product/sim/Progressbar.vue
  client/src/ui/product/sim/SelectSim.vue
  client/src/ui/product/sim/SimCard.vue
  client/src/ui/product/sim/SimulationPlaybackControls.vue
  client/src/ui/product/sim/types.ts
  client/src/ui/product/sim/useSimulationControls.ts
  client/src/ui/useAnimateNumber.ts
  client/src/ui/useGTextTip.ts
  client/src/ui/useTextTip.ts
Labels: enhancement, code cleanup

#308 fix(magic-shapes): uturn thickness bug
  client/src/shapes/uturn/draw.ts
Labels: bug, magic shapes

#309 feat(magic-graphs): move template to marquee encapsulation box system
  client/src/graphs/plugins/marquee/helpers.ts
  client/src/graphs/plugins/marquee/index.ts
  client/src/graphs/templates/helpers.ts
  client/src/graphs/templates/useGraphTemplate.ts
Labels: enhancement, magic graphs

#312 feat(product): theme-reactive template thumbnails
  client/public/products/template-thumbnails/dijkstra.png
  client/public/products/template-thumbnails/mst.png
  client/src/graphs/templates/snapshot.ts
  client/src/graphs/templates/useGraphSnapshot.ts
  client/src/graphs/templates/useGraphTemplate.ts
  client/src/products/dijkstras/templates.ts
  client/src/products/min-spanning-tree/templates.ts
Labels: enhancement, product

#313 fix(magic-graphs): fix small inconsistencies
  client/src/graphs/templates/ui/TemplateMenu.vue
  client/src/products/dijkstras/ui/CostDisplay.vue
  client/src/products/graph-sandbox/ui/CollaborativeSessionMenu.vue
  client/src/ui/product/ThemeToolbar.vue
Labels: bug, code cleanup, magic graphs

#314 feat(magic-shapes): add oval shape
  client/src/playground/shape/ShapePlayground.vue
  client/src/shapes/ellipse/draw.ts
  client/src/shapes/ellipse/hitbox.ts
  client/src/shapes/ellipse/index.ts
  client/src/shapes/ellipse/text.ts
  client/src/shapes/index.ts
  client/src/shapes/types.ts
Labels: enhancement, magic shapes

#321 feat(magic-graphs): add autogenerate graph
  client/src/graphs/templates/autoGenerate/AutoGenerate.vue
  client/src/graphs/templates/autoGenerate/generationAlgorithms/basicGeneration.ts
  client/src/graphs/templates/autoGenerate/generationAlgorithms/forceDirectedLayout.ts
  client/src/graphs/templates/autoGenerate/generationAlgorithms/nonRandomLayouts.ts
  client/src/graphs/templates/autoGenerate/generationAlgorithms/partialMesh.ts
  client/src/graphs/templates/autoGenerate/generationAlgorithms/randomGeneration.ts
  client/src/graphs/templates/autoGenerate/types.ts
  client/src/graphs/templates/autoGenerate/useAutoGenerate.ts
  client/src/graphs/templates/ui/TemplateMenu.vue
  client/src/shapes/helpers.ts
Labels: enhancement, magic graphs

#323 feat(magic-graphs): add save hotkey
  client/src/App.vue
  client/src/graphs/plugins/shortcut/index.ts
  client/src/graphs/settings/index.ts
  client/src/main.ts
Labels: enhancement, magic graphs

#328 feat(product): user generated snapshots react to theme changes
  client/src/graphs/templates/helpers.ts
  client/src/graphs/templates/useGraphSnapshot.ts
  client/src/graphs/templates/useGraphTemplate.ts
Labels: enhancement, product

#329 bug(product): add delay before loading graph
  client/src/graphs/templates/useGraphTemplate.ts
Labels: bug, product

#330 feat(product): add generate settings
  client/src/graphs/templates/autoGenerate/AutoGenerate.vue
  client/src/graphs/templates/autoGenerate/AutoGenerateSettingsMenu.vue
  client/src/graphs/templates/autoGenerate/useAutoGenerate.ts
  client/src/graphs/templates/ui/TemplateMenu.vue
Labels: enhancement, product

#332 feat(magic-shapes): add gradients to triangle, line, and arrow
  client/src/playground/shape/ShapePlayground.vue
  client/src/shapes/arrow/draw.ts
  client/src/shapes/line/draw.ts
  client/src/shapes/line/index.ts
  client/src/shapes/triangle/draw.ts
  client/src/shapes/triangle/index.ts
  client/src/shapes/types.ts
Labels: enhancement, magic shapes

#335 fix(product): fix generate menu
  client/src/graphs/templates/autoGenerate/AutoGenerateSettingsMenu.vue
Labels: bug, product
