Repository Yonava/magic-graphs, pull requests merged in 2025-06, with the labels that each got.

#455 feat: storybook added for magic shapes
  .vscode/settings.json
  client/.gitignore
  client/.storybook/main.ts
  client/.storybook/preview.ts
  client/eslint.config.js
  client/package-lock.json
  client/package.json
  client/pnpm-lock.yaml
  client/src/shapes/arrow/arrow.stories.ts
  client/src/shapes/arrow/draw.ts
  client/src/shapes/circle/circle.stories.ts
  client/src/shapes/circle/index.ts
  client/src/shapes/cross/cross.stories.ts
  client/src/shapes/docs.ts
  client/src/shapes/ellipse/elllipse.stories.ts
  client/src/shapes/ellipse/index.ts
  client/src/shapes/ellipse/text.ts
  client/src/shapes/helpers.ts
  client/src/shapes/image/image.stories.ts
  client/src/shapes/image/index.ts
  client/src/shapes/line/draw.ts
  client/src/shapes/line/index.ts
  client/src/shapes/line/line.stories.ts
  client/src/shapes/rect/index.ts
  client/src/shapes/rect/rect.stories.ts
  client/src/shapes/scribble/draw.ts
  client/src/shapes/scribble/hitbox.ts
  client/src/shapes/scribble/index.ts
  client/src/shapes/scribble/scribble.stories.ts
  client/src/shapes/square/index.ts
  client/src/shapes/square/square.stories.ts
  client/src/shapes/star/index.ts
  client/src/shapes/star/star.stories.ts
  client/src/shapes/text.ts
  client/src/shapes/triangle/draw.ts
  client/src/shapes/triangle/index.ts
  client/src/shapes/triangle/triangle.stories.ts
  client/src/shapes/types.ts
  client/src/shapes/uturn/draw.ts
  client/src/shapes/uturn/index.ts
  client/src/shapes/uturn/uturn.stories.ts
  pnpm-lock.yaml
Labels: documentation, enhancement, magic shapes

#469 feat(canvas): added magic canvas
  .vscode/settings.json
  client/src/canvas/MagicCanvas.vue
  client/src/canvas/camera/index.ts
  client/src/canvas/camera/panZoom.ts
  client/src/canvas/camera/utils.ts
  client/src/canvas/coordinates/index.ts
  client/src/canvas/docs/StoryCanvas.vue
  client/src/canvas/docs/canvas.stories.ts
  client/src/canvas/index.ts
  client/src/canvas/types.ts
  client/src/playground/shape/ShapePlayground.vue
  client/src/playground/shape/ShapePlaygroundToolbar.vue
  client/src/playground/shape/useHeatmap.ts
  client/src/playground/shape/useShapeRender.ts
  client/src/router/index.ts
  client/src/shapes/docs.ts
  client/src/utils/components/ResponsiveCanvas.vue
  client/src/utils/components/useCanvasCoord.ts
  client/src/utils/components/usePinchToZoom.ts
  client/src/utils/components/useStorePanZoomState.ts
  client/src/utils/product.ts
  client/tsconfig.app.json
  client/vite.config.ts
Labels: enhancement, roadmap

#468 feat(shapes): add getCenterPoint function to all shapes
  client/src/shapes/factories.ts
  client/src/shapes/helpers.ts
  client/src/shapes/shapes/arrow/hitbox.ts
  client/src/shapes/shapes/arrow/index.ts
  client/src/shapes/shapes/cross/index.ts
  client/src/shapes/shapes/ellipse/hitbox.ts
  client/src/shapes/shapes/ellipse/index.ts
  client/src/shapes/shapes/image/index.ts
  client/src/shapes/shapes/line/hitbox.ts
  client/src/shapes/shapes/line/index.ts
  client/src/shapes/shapes/rect/index.ts
  client/src/shapes/shapes/scribble/hitbox.ts
  client/src/shapes/shapes/scribble/index.ts
  client/src/shapes/shapes/square/index.ts
  client/src/shapes/shapes/star/hitbox.ts
  client/src/shapes/shapes/star/index.ts
  client/src/shapes/shapes/triangle/hitbox.ts
  client/src/shapes/shapes/triangle/index.ts
  client/src/shapes/shapes/uturn/index.ts
  client/src/shapes/types/index.ts
Labels: enhancement, magic shapes

#477 feat(shapes): update cross
  client/package-lock.json
  client/src/playground/shape/ShapePlayground.vue
  client/src/shapes/helpers.ts
  client/src/shapes/shapes/cross/draw.ts
  client/src/shapes/shapes/cross/hitbox.ts
  client/src/shapes/shapes/rect/draw.ts
  client/src/shapes/types/schema.ts
Labels: bug, enhancement, magic shapes, polish

#493 fix(ui): border color on light mode
  client/src/ui/product/help/HelpShortcutKey.vue
Labels: magic ui, polish

#499 feat(shapes): added text support to star
  client/src/shapes/helpers.ts
  client/src/shapes/shapes/star/index.ts
  client/src/shapes/shapes/star/star.stories.ts
  client/src/shapes/shapes/star/types.ts
  client/src/shapes/types/utility.ts
Labels: enhancement, magic shapes

#504 move delete to backspace on windows
  client/src/graphs/plugins/shortcut/index.ts
Labels: low priority, polish

#498 fix(canvas): zoom sensitivity capped on mice with excessive deltaY output
  client/src/canvas/camera/panZoom.ts
Labels: bug, polish
